#menu {
  color: $color-white;
  .menu-list {
    float: right;
    text-transform: uppercase;
    padding: 40px 0;
    list-style: none;
    li {
      float: left;
      margin-right: 60px;
      a {
        color: $color-white;
      }
    }
  }
}

